.home__githubRibbon {
  position: absolute;
  top: 0;
  right: 0;
  border: 0;
}
.home__fillerHeader {
  @include transformTranslate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: 50%;
  height: 525px;
  width: 400px;
  background-color: #fff;
  border: 1px solid $text;
  border-radius: 5px;
  box-shadow: 0 15px 15px $text;
  text-align: center;
}
.home__fillerLogo {
  margin: 25px auto;
  height: 180px;
  width: 180px;
  border-radius: 90px;
  background-image: url( image_path("HW-logo.png"));
  background-position: center, center;
  background-repeat: no-repeat;
  background-size: cover;
}
.home__fillerTitle {
  margin: 0 auto 25px;
}
.home__loginInput {
  margin: 0 auto 25px;
  height: 40px;
  width: 70%;
  text-align: center;
  border: none;
  border-bottom: 1px solid $block;
  outline: none;
}
.home__loginButton {
  display: block;
  margin: 0 auto 25px;
  height: 60px;
  width: 70%;
  outline: none;
  color: $block;
  font-weight: bold;
  background-color: $blue;
  border: none;
  border-radius: 5px;
  box-shadow: 0 8px 8px $text;
  &:hover {
    box-shadow: 0 2px 2px $text;
  }
}
.home__footer {
  position: absolute;
  bottom: 0;
  height: 40px;
  width: 100%;
  text-align: center;
  > a {
    margin: 0 10px;
  }
}
