// GLOBAL VARIABLES

// Colors:
$background: #fafafa;
$text: #666666;

// Break points:
$s-min: 480px;
$m-min: 768px;
$l-min: 1080px;
$xl-min: 1350px;

// Content Width:
$s-width: 90%;
$m-width: 80%;
$l-width: 70%;
$xl-width: 60%;
